
<%- include("partials/header"); -%>


  <%  for (let i = journals.length - 1 ; i >= 0 ; i--) { %>

    <h2><%=journals[i].title%></h2>
    <h4><%=journals[i].date%></h4>
    <p>
    <%=journals[i].content.substring(0, 100) + " ..."%>
    <a href="/api/journals/<%=journals[i]._id%>">Read More</a>
    </p>


    <% } %>


<%- include("partials/footer"); -%>
